.spinner-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.32);
  z-index: 20000;
}

:host ::ng-deep .ng-spinner .p-progress-spinner-circle {
  animation: spinner 3s ease-in-out infinite;
}

@keyframes spinner {
  0% {
    stroke: #ec1d23;
  }

  30% {
    stroke: #3f5d69;
  }

  50% {
    stroke: #ec1d23;
  }

  80% {
    stroke: #3f5d69;
  }

  100% {
    stroke: #ec1d23;
  }
}
