<form (ngSubmit)="addQueue()" [formGroup]="formGroup" class="p-4 flex align-items-center">
  <div class="field w-full">
    <label htmlFor="queue">Queue Name</label>
    <p-inputGroup id="queue">
      <input type="text" pInputText class="p-inputtext-lg" formControlName="queue" />
      <button type="submit" pButton label="Add"></button>
    </p-inputGroup>
    @if(formGroup.get("queue")?.errors?.["duplicateQueue"]){
    <small id="queue-error" class="p-error">queue already exists</small>
    }
  </div>
</form>