<p-toast key="connect"></p-toast>
<div class="card flex justify-content-center">
  <form (ngSubmit)="createNewConnection()" [formGroup]="formGroup">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12">
        <label htmlFor="queue-manager">Queue Manager Name</label>
        <input pInputText id="queue-manager" type="text" formControlName="queue" class="p-inputtext-lg" />
      </div>
      <div class="field col-12 md:col-9">
        <label htmlFor="hostname">Hostname</label>
        <input pInputText id="hostname" type="text" formControlName="hostname" class="p-inputtext-lg" />
      </div>
      <div class="field col-12 md:col-3">
        <label htmlFor="port">Port Number</label>
        <input pInputText id="port" type="number" formControlName="port" class="p-inputtext-lg" />
      </div>
      <div class="field col-12">
        <label htmlFor="channel">Channel Name</label>
        <input pInputText id="channel" type="text" formControlName="channel" class="p-inputtext-lg" />
      </div>
      <div class="field col-12 md:col-6">
        <label htmlFor="username">Username</label>
        <input pInputText id="username" type="text" formControlName="username" class="p-inputtext-lg" />
      </div>
      <div class="field col-12 md:col-6">
        <label htmlFor="password">Password</label>
        <input pInputText id="password" type="password" formControlName="password" class="p-inputtext-lg" />
      </div>
    </div>
    <div class="flex justify-content-end">
      <p-button pRipple type="submit" label="Connect" icon="pi pi-check" size="large"></p-button>
    </div>
  </form>
</div>
